.plans-container {
  margin-top: -4rem;
  padding: 0 2rem;
  display: flex;
  flex-direction: column;
  gap: 4rem;
  position: relative;
}
.plans {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  color: white;
}
.plan {
  display: flex;
  flex-direction: column;
  background: var(--caloryCard);
  padding: 2rem;
  width: 20rem;
  margin: 2rem 1rem;
}
.plan:hover {
  background: var(--plancard);
}
.plan > span:nth-child(1) {
  font-weight: bold;
  font-size: 1rem;
  margin: 1rem 0;
}
.plan > span:nth-child(2) {
  font-weight: bold;
  font-size: 2rem;
  margin: 1rem 0;
}
.plan:nth-child(2) {
  background: var(--plancard);
  transform: scale(1.1);
}

.plan :nth-child(1) {
  font-size: 1rem;

  margin-bottom: 10px;
}

.plan:nth-child(2) {
  font-size: 2rem;
  font-weight: bold;
  color: white;
}
.features {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 1rem;
}
.feature {
  display: flex;
  align-items: center;
}
.feature > img {
  width: 2rem;
}
.feature > span {
  font-size: 0.8rem;
}
.plan > :nth-child(4) {
  font-size: 0.8rem;
  color: white;
  margin-top: 1rem;
}
.plan > :nth-child(5) {
  margin-top: 1rem;
}
